[submodule "keras-practice"]
	path = keras/keras-practice
	url = https://github.com/samc0de/keras-practice.git
[submodule "keras-text-classification-multiclass"]
	path = keras/keras-text-classification-multiclass
	url = https://github.com/samc0de/keras-text-classification-multiclass.git
[submodule "keras/keras-text-classification-binary"]
	path = keras/keras-text-classification-binary
	url = https://github.com/samc0de/keras-text-classification-binary.git
[submodule "tensorflow/text-summarization"]
	path = tensorflow/text-summarization
	url = https://github.com/samc0de/text-summarization.git
